<div id="fb-root"></div>
<div class="wrapper">
<% if current_user %>
	<div class="landing-page">
	</div>
	<div class="start">
		<p>你已經登入囉！<br>點擊下面按鈕開始抽籤吧！<br></p>
		<div class="fb-login-btn">
			<%= link_to "已登入，按我開始求籤囉！", draw_path %>
		</div>
		<div class="fb-page-contianer">
			<div class="fb-page" data-href="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts"><a href="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts">Colorgy</a></blockquote></div></div>
		</div>
	</div>
<% else %>
	<div class="landing-page">
	</div>
	<div class="start">
		<p>來求籤看看自己的期末運勢吧！<br>
		先點 Colorgy 粉專讚然後點擊 "登入"</p>
		<div class="fb-login-btn">
			<%= link_to "用 Facebook 登入 Colorgy", draw_path %>
		</div>
		<div class="fb-page-contianer">
			<div class="fb-page" data-href="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts"><a href="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts">Colorgy</a></blockquote></div></div>
		</div>
	</div>
<% end %>
</div>
