<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=630424637093473";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% if current_user %>
	<div class="fb-page-contianer">
		<div class="fb-page" data-href="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts"><a href="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts">Colorgy</a></blockquote></div></div>
	</div>
	<div class="fb-login-btn">
		<%= link_to "已登入，開始求籤囉！", draw_path %>
	</div>
<% else %>
	<div class="fb-page-contianer">
		<div class="fb-page" data-href="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts"><a href="https://www.facebook.com/pages/Colorgy/1529686803975150?fref=ts">Colorgy</a></blockquote></div></div>
	</div>
	<div class="fb-login-btn">
		<%= link_to "用 Facebook 登入 Colorgy", draw_path %>
	</div>
<% end %>

