<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=630424637093473";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% if current_user %>
	<%= current_user.name %>
	<%= current_user.drawer_key %>
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "Sign in with Colorgy", user_omniauth_authorize_path(:colorgy) %>
<% end %>
<% if current_user %>
	<div class="drawer-result" id="drawer-result" style="position: absolute; z-index: -1;">
		<div class="result-canvas">
	        <img class="avatar">
	        <div class="content">
	        	<%= image_tag @drawResult[:content_image] %>
	        </div>
	        <div class="description">
				<%= @drawResult[:description] %>
	        </div>
		</div>
	</div>
<% end %>
<div class="canvas-result" id="canvas-result">

</div>
<div class="fb-share-button" data-href="http://colorgyfinalfortunedrawer.dev/" data-layout="button"></div>
<script>
function b64_to_utf8( str ) {
  return decodeURIComponent(escape(window.atob( str )));
}
var base64Url = '<%= current_user ? Base64.encode64(current_user.avatar_url).gsub(/\n/, '') : '' %>';

$('img.avatar').attr('src', '/proxy?url=' + base64Url);

imagesLoaded( '#drawer-result', function() {
	console.log('loaded');
  html2canvas($('#drawer-result'), {
  	logging: true,
    onrendered: function(canvas) {
      imagestring = canvas.toDataURL("image/png");
      console.log(imagestring);
      $("<img />", { src: canvas.toDataURL("image/png") }).appendTo('body').addClass('result-img');
      $('#drawer-result').remove();
      var decodeURL = '<%= current_user ? current_user.avatar_url : '' %>';
      console.log(decodeURL);
      $('meta[property="og:image"]').attr('content', decodeURL );
    }
  });
});

</script>
