p, h1, h2, h3, h4, h5, h6, a{
	font-family: '微軟正黑體';
}
img{
	width: 100%;
}
nav{
	background-color: #222;
	height: 50px;
	line-height: 50px;

	.brand-logo{
		width: 130px;

		img{
			@media screen and (min-width: 992px) {
				margin: 0 24px;
			}
		}
	}
}
.result-img{
	width: 800px;
	margin: 0 auto;
}
.fb-page-contianer{
	padding: 24px;
	margin: 0 auto;
	text-align: center;
}
.fb-share-container{
	margin: 0 auto;
	text-align: center;
}
.fb-login-btn{
	> a {
		display: block;
		margin-top: 24px;
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
		text-align: center;
		background-color: #3B579D;
		color: #ffffff;
		padding: 10px 15px 10px 15px;
		border-radius: 10px;
		font-size: 1.2em;
	}
}
.i-want-too-btn{
	> a{
		display: block;
		margin-top: 24px;
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
		text-align: center;
		background-color: #3B579D;
		color: #ffffff;
		padding: 10px 15px 10px 15px;
		border-radius: 10px;
		font-size: 1.2em;
	}
}
.canvas-result{
	text-align: center;
	margin: 24px 0;
	width: 100%;
	overflow-x: auto;
	opacity: 1;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-moz-transition: all 0.8s;

	&.fadeout{
		opacity: 0;
		visibility: hidden;
	}
}

.drawer-result{
	position: relative;
	width: 1200px;
	min-height: 798px;
	margin: 0 auto;

	.result-canvas{
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: image-url('bg1.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.user-info {
			top: 230px;
			left: 618px;
			height: 100px;
			overflow: hidden;
			position: absolute;
			font-size: 48px;
			line-height: 100px;

			small {
				font-size: 21px;
				opacity: .8;
			}
		}

		.avatar{
			width: 100px;
			height: 100px;
			overflow: hidden;
			float: left;
			margin-right: 20px;
			// position: absolute;
			// display: none;
		}

		> .content{
			position: absolute;
			width: 25%;
			top: 25%;
			left: 10%;
		}
		> .description {
			width: 480px;
			height: 30%;
			font-size: 48px;
			position: absolute;
			left: 618px;
			top: 350px;
		}
	}
}
.drawers-animation{
	width: 210px;
	height: 140px;
	position: relative;
	margin: 0 auto 40px;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	-o-perspective: 1100px;
	perspective: 1100px;
	opacity: 1;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-moz-transition: all 0.8s;

	&.fadeout{
		opacity: 0;
		visibility: hidden;
	}

	.drawers-animation-inner{
		transition: transform 1s;
		-moz-transition: transform 1s;
		-ms-transition: transform 1s;
		-o-transition: transform 1s;
		-webkit-transition: transform 1s;
		position: absolute;
		transform: translateZ(-460px) rotateY(0deg);
		-moz-transform: translateZ(-460px) rotateY(0deg);
		-webkit-transform: translateZ(-460px) rotateY(0deg);
		-o-transform: translateZ(-460px) rotateY(0deg);
		-ms-transform: translateZ(-460px) rotateY(0deg);
		animation: spinner 8s infinite linear;
		width: 100%;
		height: 100%;
		position: absolute;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		transform-style: preserve-3d;

		.drawer-item{
			width: 186px;
			margin: 12px 24px;
			position: absolute;
			left: 10px;
			top: 10px;
			transition: opacity 1s, transform 1s;
			-moz-transition: opacity 1s, transform 1s;
			-webkit-transition: opacity 1s, transform 1s;
			-o-transition: opacity 1s, transform 1s;
			-ms-transition: opacity 1s, transform 1s;
			display: block;
		}
	}
}

@keyframes spinner {
    0% { transform: translateZ(-460px) rotateY(0deg); -moz-transform: translateZ(-460px) rotateY(0deg); -webkit-transform: translateZ(-460px) rotateY(0deg); -o-transform: translateZ(-460px) rotateY(0deg); -ms-transform: translateZ(-460px) rotateY(0deg);  }
    50% { transform: translateZ(-460px) rotateY(180deg); -moz-transform: translateZ(-460px) rotateY(180deg); -webkit-transform: translateZ(-460px) rotateY(180deg); -o-transform: translateZ(-460px) rotateY(180deg); -ms-transform: translateZ(-460px) rotateY(180deg);  }
    100% { transform: translateZ(-460px) rotateY(360deg); -moz-transform: translateZ(-460px) rotateY(360deg); -webkittransform: translateZ(-460px) rotateY(360deg); -o-transform: translateZ(-460px) rotateY(360deg); -ms-transform: translateZ(-460px) rotateY(360deg);   }
}
.landing-page{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: image-url('landing-page.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.start{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	background-color: rgba(255,255,255, .85);
	padding: 18px;
	width: 330px;
	text-align: center;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);

	> p {
		font-size: 1.4em;
	}
}
.drawers{
	position: absolute;
	width: 100%;
	top: 40%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.main-btn{
	display: block;
	margin-top: 24px;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	text-align: center;
	background-color: #3B579D;
	color: #ffffff;
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
	font-size: 1.2em;
}
.user-avatar{
	display: inline-block;
	width: 80px;
	vertical-align: middle;
	margin: 0 24px;
}
