<!DOCTYPE html>
<html>
<head>
  <title>ColorgyFinalFortuneDrawer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta property="og:title"
	content="Workday Sets Price Range for I.P.O." />
	<meta property="og:site_name" content="My Favorite News"/>
	<meta property="og:image" content=""/>
	<meta property="og:url"
	content="http://www.myfavnews.com/2013/1/1/workday-price-range" />
	<meta property="og:description" content="Workday, a provider of cloud-based
	applications for human resources, said on Monday that it would seek to price
	its initial public offering at $21 to $24 a share.  At the midpoint of that
	range, the offering would value the company at $3.6 billion. Like many other
	technology start-ups, Workday, founded in 2005, will have a dual-class share
	structure, with each Class B share having 10 votes. Its co-chief executives,
	David Duffield, the founder of PeopleSoft, and Aneel Bhusri, who was chief
	strategist at PeopleSoft, will have 67 percent of the voting rights after
	the I.P.O., according to the prospectus." />
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
	<%= yield %>

</body>
</html>
